.cabecalho{
    font-family: Arial;
    color:white;
    text-align: center;
    padding-top: 2%;
}

.pagina{
    background-color: #151515;
    width: 80%;
    height: 2000px;
    position: relative;
    left: 10%;
}

.destaque{
    width: 80%;
    height: 470px;
    position: relative;
    left: 10%;
}