h1 {color: white;
font-family: Arial;
text-align: center;}

p {color: black;
font-family: Arial;
font-size: 30px;
text-align: left;
text-align-last: left;
}

p1 {color: white;
    font-family: Arial;
    font-size: 25px;
    text-align: justify;
    text-align-last: left;
    display: flex;
    width: 85%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    }

a {
    text-decoration: none;
}

div {
    display: flex;
    width: 80%;
    height: 2000px;
    padding: 10px;
    text-align: justify;
    align-items: flex-end;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.destaque{
    width: 60%;
    height: 470px;
}